[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/darrendejaeger
[access "refs/for/refs/*"]
	read = group user/darrendejaeger
	push = group user/darrendejaeger
	label-Code-Review = -2..+2 group user/darrendejaeger
	label-Verified = -1..+1 group user/darrendejaeger
	rebase = group user/darrendejaeger
	removeReviewer = group user/darrendejaeger
	submit = group user/darrendejaeger
[access "refs/heads/*"]
	read = group user/darrendejaeger
	create = group user/darrendejaeger
	push = +force group user/darrendejaeger
	pushMerge = group user/darrendejaeger
[access "refs/tags/*"]
	push = group user/darrendejaeger
	push = +force group user/darrendejaeger
